.showCard{
  text-align: center;
  margin: 0 35px;
  padding: 10px 20px;
  border: 1px #121212 solid;
  border-radius: 20px;
  background: rgba(197, 157, 157, 0.1);
  box-shadow: 10px 10px 8px #444141;
}

.title {
  margin-bottom: 5px;
  color: white;
  font-weight: 800;
  text-align: left;
  margin-right: 10px;
}

.showHeader {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  margin-bottom: 20px;
}

/* Modal Styles */

.modalContent {
  text-align: center;
  line-height: 1.5;
}

.btn {
  margin-left: auto;
  display: block;
  border: none;
  font-weight: 300;
  font-family: Arial, sans-serif;
}


.titleModal {
  color: #121212;
}

.favoriteHeartModal{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}
.overviewModal {
  margin-bottom: 20px;
}

.showInfo {
  display: flex;
  justify-content: space-evenly;
}