.showCard{
  text-align: center;
  margin: 0 35px;
  padding: 10px 20px;
  border: 1px #121212 solid;
  border-radius: 20px;
  background: rgba(197, 157, 157, 0.1);
  box-shadow: 10px 10px 8px #444141;
}

.title {
  margin-bottom: 5px;
  color: white;
  font-weight: 800;
  text-align: left;
  margin-right: 10px;
}

.showHeader {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


img {
  margin-bottom: 20px;
}



/* Modal Styles */

.average {
  font-weight: 500;
}

.btn {
  margin-left: auto;
  display: block;
}
