*{
  background-color: #121212;
}
section{
  display: flex;
  flex-wrap: wrap;
  color: #81b29a;
  cursor: pointer;
}

.headingCol{
  margin: 20px 0;
  color:#3d405b;
  text-decoration: underline;
}

.showsInfo {

}