section{
  color: grey;
  cursor: pointer;
}

.headingCol{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 2rem;
  color:#eeeeee;
}


.showRow{
  overflow-x: scroll;
  display: flex;
  padding: 20px;
  align-items: center;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome/Safari */
.showRow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.showRow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.arrow-right,
.arrow-left{
  display: block;
  position: absolute;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}

.arrow-right{
  right: 10px;
  transform: rotate(135deg);
}

.arrow-left{
  transform: rotate(-45deg);
}
