section{
  color: grey;
  cursor: pointer;
}

.headingCol{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 2rem;
  color:#eeeeee;
}


.showRow{
  overflow-x: scroll;
  display: flex;
  padding: 20px;
}


